# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
temp.bat
src/main/java/mx/com/rodel/pastebin/Paste.java
temp.bat
